<div class="header row" > 
    <div class="titulo col-6 ">
        <p  style = "font-family:Century Gothic,arial,helvética; 
                        font-weight: bold; ">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-whatsapp"></i>El Mejor Empleo</p>
       
    </div>    
    <div class="col-6" style="display: inline;">
        <button type="button" class="btn btn-warning btn-lg" [routerLink]="['/DetailEmployment']"> +Nuevo Empleo </button>      
    </div>
</div>